.swiper-button-prev {
  color: white;
}
.swiper-button-prev:hover {
  opacity: 0.6;
}

.swiper-button-next {
  color: white;
}

.swiper-button-next:hover {
  opacity: 0.6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-button-next,
.swiper-button-prev {
    right:10px;
    padding: 30px;
    color: #fff !important;
    fill: #fff !important;
    stroke: #fff !important;
    font-weight: bold;
}