.swiper-button-prev {
  color: white;    
  width: 18px;  
}
.swiper-button-prev:hover {  
    opacity:.6;  
    filter: drop-shadow(0 0 10px 0 blue inset);
}

.swiper-button-next {
  color: white;  
}

.swiper-button-next:hover {  
  opacity:.6;  
}
